#!/bin/sh

# Wit app credentials
export WIT_APP_ID=
export WIT_SERVER_TOKEN=

# Telegram bot key
export TELEGRAM_TOKEN=

# FB Messenger
export FB_PAGE_ACCESS_TOKEN=
export FB_VERIFY_TOKEN=

# Webserver
export PORT=

# https://github.com/fczuardi/fake-clickbus-api
export CLICKBUS_URL="https://api-evaluation.clickbus.com.br/api/v1"
export CLICKBUS_WEB_URL="https://m.clickbus.com.br/pt/busca"
export CLICKBUS_UTM_PARAMS=""
# export FAKE_DATA_DIR="../../../data" # ../../../ is the root of the project

# Google URL Shortener
export GOOGLE_API_KEY=

# local persistence file
export STATE_FILE="../data/state.json" # if installed from git
# export STATE_FILE="../../../data/state.json" # if installed from npm

# answers.json file path to be used when answering questions from the FAQ
export FAQ_PATH=

# error log debug file, if present wont reply debug messages to user
# export DEBUG_TO_LOGFILE="./debug.log"

# If the user should be informed of the privacy policy right after Telegram's /start
export PRIVACY_POLICY_ON_START="yes"

echo "Env vars updated"
